@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overscroll-behavior: none ;
}

.os-scrollbar .os-scrollbar-handle {
  background: linear-gradient(to right, #58a6ff, #3b82f6);
  border-radius: 10px;
}

.os-scrollbar .os-scrollbar-handle:hover {
  background: linear-gradient(to right, #58a6ff, #3b82f6);
}

.os-scrollbar .os-scrollbar-handle {
  width: 8px;
}

@layer base {
  body {
    @apply font-sans text-sm leading-5;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold;
  }
}

::selection {
  background: transparent;
  color: theme('colors.cb-primary');
}